<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<!-- <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param> -->
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost:3306/test</param-value>
	</context-param>
	<context-param>
		<param-name>username</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>root</param-value>
	</context-param>

	<!-- Servlet sample start... -->
	<servlet>
		<servlet-name>ServletSample</servlet-name>
		<servlet-class>cn.conon.jee.sample.servlet.ServletSample</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HttpServletSample</servlet-name>
		<servlet-class>cn.conon.jee.sample.servlet.HttpServletSample</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HttpServletSample2</servlet-name>
		<servlet-class>cn.conon.jee.sample.servlet.HttpServletSample2</servlet-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>xxx</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>1234</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:myql://localhost:3306/test</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>username</param-name>
			<param-value>root</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletSample</servlet-name>
		<url-pattern>/servlet/ServletSample</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HttpServletSample</servlet-name>
		<url-pattern>/servlet/HttpServletSample</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HttpServletSample2</servlet-name>
		<url-pattern>/servlet/HttpServletSample2</url-pattern>
	</servlet-mapping>
	<!-- Servlet sample end... -->

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>cn.conon.jee.sample.jsp.el.RegisterServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/jsp/el/RegisterServlet</url-pattern>
	</servlet-mapping>
	 

	<!-- http://stackoverflow.com/questions/28296543/nullpointerexception-when-add-custom-taglib-in-jsp -->
	<jsp-config>
		<taglib>
			<taglib-uri>tagLib</taglib-uri>
			<taglib-location>/jsp/tag/tag/tag.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>tagSimple</taglib-uri>
			<taglib-location>/jsp/tag/simple/simple.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>tagExample</taglib-uri>
			<taglib-location>/jsp/tag/example/example.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>elFuction</taglib-uri>
			<taglib-location>/jsp/el/el.tld</taglib-location>
		</taglib>
	</jsp-config>

	<!-- http://yawperism.blogspot.jp/2010/08/can-struts-1-2-coexist-in-same-web.html -->
	<!-- http://www.coderanch.com/t/554617/Struts/Struts-coexist-web-application -->
	<!-- http://struts.apache.org/docs/migration-strategies.html -->
	<!-- struts1 -->
	<servlet>
		<servlet-name>Struts1Servlet</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<!-- Default -->
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<!-- Provider module -->
		<init-param>
			<param-name>config/struts1/provider</param-name>
			<param-value>/WEB-INF/struts-config-struts1-provider.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Struts1Servlet</servlet-name>
		<url-pattern>*.do</url-pattern>
		<!-- <url-pattern>/struts1/*</url-pattern> -->
	</servlet-mapping>

	<!-- struts2 -->
	<filter>
		<filter-name>Struts2Filter</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Struts2Filter</filter-name>
		<!-- <url-pattern>*.action</url-pattern> -->
		<url-pattern>/struts2/*</url-pattern>
	</filter-mapping>



	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>